.resources {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media screen and (max-width: 940px) {
  .resources {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .resources {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 494px) {
  .resources {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
